<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="mobile">
      <div class="container">
        <div class="top-bar">
          <img src="../static/img/assets/back.svg" />
          <p>Search</p>
          <img src="../static/img/assets/cart.svg" />
        </div>

        <div class="individual-product">
          <div class="product-title">
            <p>USD 350</p>
            <h2>TMA-2 HD WIRELESS</h2>
          </div>
          <div class="product-detail-section">
            <a href="">Overview</a>
            <a href="">Features</a>
            <a href="">Specification</a>
          </div>
          <div class="product-image">
            <img
              src="../static/img/product/kuiye-chen-NuOGFo4PudE-unsplash.jpg"
            />
            <img src="../static/img/product/pp1.png" />
            <img src="../static/img/product/pp2.png" />
            <img
              style="background-color: rgb(160, 160, 160)"
              src="../static/img/product/p1.svg"
            />
          </div>
          <div class="product-description">
            <h2>Highly Detailed Audio</h2>
            <p>
              The speaker unit contains a diaphragm that is precision-grown from
              NAC Audio bio-cellulose, making it stiffer, lighter and stronger
              than regular PET speaker units, and allowing the sound-producing
              diaphragm to vibrate without the levels of distortion found in
              other speakers.
            </p>
            <p>
              The speaker unit contains a diaphragm that is precision-grown from
              NAC Audio bio-cellulose, making it stiffer, lighter and stronger
              than regular PET speaker units, and allowing the sound-producing
              diaphragm to vibrate without the levels of distortion found in
              other speakers.
            </p>
          </div>

          <!-- Review this product, Share your thoughts with other customers, Write a product review -->

          <div class="add-to-cart">
            <a href="" class="action-button">Add To Cart</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
