<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <section class="mobile">
      <div class="container">
        <div class="top-bar">
          <img src="../static/img/assets/back.svg" />
          <!-- <p>Addresses</p> -->
          <p>Checkout</p>
          <p></p>
          <!-- <img src="../static/img/assets/cart.svg" /> -->
        </div>

        <section class="addresses">
          <form action="">
            <div class="checkout-heading">
              <p>Shipping Address</p>
              <a href="">Add / Edit</a>
            </div>

            <div class="saved-add">
              <h2>Abhinay Narayan Singh</h2>
              <p class="mob">+91 8795675599</p>
              <p class="email">abhinay.singh@amazon.co.in</p>
              <p>
                12, 2nd Cross Rd, Opposite Gubbi Veeranna Rangamandira, Gandhi
                Nagar, Bengaluru, Karnataka 560009
              </p>
            </div>

            <div class="checkout-heading">
              <p>Payment Method</p>
            </div>

            <div class="payment-method">
              <input
                type="radio"
                name="d"
                id="1"
                value="pod"
                class="p-m"
                checked
              />
              <label for="1">
                <p>Pay on delivery</p>
                <!-- <h2>Pay digitally with SMS Pay Link.</h2> -->
              </label>
            </div>

            <div class="checkout-heading billing-summary-heading">
              <p>Billing Summary</p>
            </div>

            <div class="billing-summary">
              <div>
                <h2>Subtotal</h2>
                <p>$3720.27</p>
              </div>
              <div>
                <h2>Discount</h2>
                <p>-$749.99</p>
              </div>
              <div>
                <h2>Shipping</h2>
                <p>$0.00</p>
              </div>
              <div>
                <h2>Tax</h2>
                <p>$228.72</p>
              </div>
              <div>
                <h2>Order Total</h2>
                <h3>$3,439.00</h3>
              </div>
            </div>

            <div class="submit">
              <input type="submit" value="Place your order" />
            </div>
          </form>
        </section>
      </div>
    </section>
  </body>
</html>

<!-- Select a delivery address -->
<!-- Use this address  -->
<!-- Choose an address to continue checking out. You will still have a chance to review and edit your order before it is final.-->
<!-- Place your order -->
<!-- Order Total:₹740.00 -->

<!-- By placing your order, you agree to Amazon's privacy notice and conditions of use. -->
