<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <div class="mobile">
      <div class="container">
        <div class="top-bar">
          <img src="../static/img/assets/menu.svg" />
          <img class="avatar" src="../static/img/user_profile/profile.jpg" />
        </div>

        <div class="hero">
          <h3>Hi, Andrea</h3>
          <h2>What are you looking for today?</h2>
        </div>

        <div class="form-search search-form">
          <button>
            <!-- <i class="fas fa-search"></i> -->
            <img src="../static/img/assets/search.svg" alt="" />
          </button>
          <input type="text" placeholder="Search headphone" />
        </div>
      </div>

      <main>
        <div class="container">
          <div class="category">
            <a href="" class="badge_p">Headphone</a>
            <a href="" class="badge">Headphone</a>
            <a href="" class="badge">Earpads</a>
            <a href="" class="badge">Cable</a>
          </div>

          <div class="banner">
            <div class="text">
              <h2>TMA-2 Modular Headphone</h2>
              <a href="">Shop now</a>
            </div>
            <div class="img">
              <img src="../static/img/product/product.png" />
            </div>
          </div>

          <div class="nav">
            <a href=""><h2>Featured Products</h2></a>
            <a href=""><p>See All</p></a>
          </div>

          <div class="product">
            <div class="product-card">
              <div class="img">
                <img src="../static/img/product/product.png" />
              </div>
              <div class="text">
                <h2>TMA-2 HD Wireless</h2>
                <p>USD 350</p>
              </div>
            </div>

            <div class="product-card">
              <div class="img">
                <img src="../static/img/product/product.png" />
              </div>
              <div class="text">
                <h2>TMA-2 HD Wireless</h2>
                <p>USD 350</p>
              </div>
            </div>
            <div class="product-card">
              <div class="img">
                <img src="../static/img/product/product.png" />
              </div>
              <div class="text">
                <h2>TMA-2 HD Wireless</h2>
                <p>USD 350</p>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
