<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eCommerce</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&family=Source+Sans+Pro:wght@600&display=swap"
      rel="stylesheet"
    />

    <!-- Style Sheet -->
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <section class="mobile">
      <div class="container">
        <div class="top-bar">
          <img src="../static/img/assets/back.svg" />
          <p>Profile</p>
          <p></p>
          <!-- <img src="../static/img/assets/cart.svg" /> -->
        </div>

        <div class="profile">
          <img src="../static/img/user_profile/profile.jpg" class="avatar" />

          <div>
            <h2>Andrea Hirata</h2>
            <p>hirata@gmail.com</p>
          </div>
        </div>

        <div class="profile-options">
          <div class="option">
            <a href="">Edit Profile</a>
          </div>
          <div class="option">
            <a href="">Notifications</a>
          </div>
          <div class="option">
            <a href="">Cart</a>
          </div>
          <div class="option">
            <a href="">Orders</a>
          </div>
          <div class="option">
            <a href="">Wishlist</a>
          </div>
          <div class="option">
            <a href="">Saved Addresses</a>
          </div>
          <div class="option">
            <a href="">Terms of Use</a>
          </div>
          <div class="option">
            <a href="">Privacy Policy</a>
          </div>
          <div class="option">
            <a href="">Report a Bug</a>
          </div>
          <div class="option">
            <a href="">Logout</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
